################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/Asm80/bin
/Asm80/obj
/Asm87/bin/Debug/netcoreapp3.1
/Asm87/obj
/Assembler/bin
/Assembler/obj
/Language/bin
/Language/obj
/Library/bin
/Library/obj
/Linker/bin
/Linker/obj
/LinkLE/bin
/LinkLE/obj
/LinkLE/Properties/PublishProfiles
/Object/bin
/Object/obj
/Asm80/Properties/PublishProfiles
/Asm80/Properties/launchSettings.json
/Asm80/.vs/Asm80
/Asm87/.vs
/Lib8/.vs/Lib8/v16
/Lib8/bin
/Lib8/obj
/Lib8/Properties/PublishProfiles
/LinkLE/.vs/LinkLE
/Asm68/.vs/Asm68/v16
/Asm68/bin/Debug/netcoreapp3.1
/Asm68/obj
/Asm68/bin/Release/netcoreapp3.1
/Asm68/Properties/PublishProfiles
/Asm68/.vs/Asm68/DesignTimeBuild
/LinkBE/.vs/LinkBE/v16
/LinkBE/bin
/LinkBE/obj
/LinkBE/Properties/PublishProfiles
/Asm65/.vs/Asm65/v16
/Asm65/bin
/Asm65/obj
/Asm65/Properties/PublishProfiles
/Lib8/.vs/Lib8/DesignTimeBuild
/LinkBE/.vs/LinkBE/DesignTimeBuild
/Asm09/.vs/Asm09/v16
/Asm09/bin
/Asm09/obj
/Asm09/Properties/PublishProfiles
/Asm65/.vs/Asm65/DesignTimeBuild
/Asm09/.vs/Asm09/DesignTimeBuild/.dtbcache.v2
/manuals/~$asm80.docx
/Asm87/bin/Release/netcoreapp3.1
Asm87/Properties/launchSettings.json
Asm87/Properties/PublishProfiles/FolderProfile.pubxml
Asm87/Properties/PublishProfiles/FolderProfile.pubxml.user
Lib8/Properties/launchSettings.json
/Asm68/.vs/Asm68
/Asm09/.vs/Asm09
/LinkBE/.vs/LinkBE/v17
/LinkBE/.vs/LinkBE/project-colors.json
/Asm99/.vs/Asm99
/Asm99/Asm99/bin
/Asm99/Asm99/obj
/Asm99/Asm99/Properties/PublishProfiles
/Asm99/Asm99/Properties
*.user
*.user
*.user
Asm65.csproj.user
*.user
*.user
*.user
/Asm99/bin/Debug/netcoreapp3.1
/Asm99/obj
/Asm99/Properties/PublishProfiles/FolderProfile.pubxml
Properties
/Asm65/.vs
/LinkLE/LinkLE.csproj
/Asm68/.vs/ProjectEvaluation
/Asm80/.vs/ProjectEvaluation
/Asm80i/.vs
/Asm80i/bin
/Asm80i/obj
/Asm86/.vs
/Asm86/bin
/Asm86/obj
/Asm99/.vs/ProjectEvaluation
/Asm99/bin/Release/netcoreapp3.1
/LinkBE/.vs
/LinkLE/.vs/ProjectEvaluation
/Lib8/.vs
/Asm87/Asm87.csproj.user
